

.city-search-container{
    position: absolute; z-index: 2;
    min-width: 200px;
    margin-right: 15px; padding-top: 5px;
    border-radius: 7px; border: 1px solid #dde2ec;
    text-align: center;

    .search-input{
        width: 85%;
        border-radius: 5px;
        padding: 5px;
        font-size: .8rem; font-family:Verdana, Geneva, Tahoma, sans-serif;  text-align: right;
    }

    .search-light{ color: black; background-color: white; }
    .search-dark{ color: white; background-color: rgb(56, 79, 95); &::placeholder{color:white}}

    .search-result-container{
        display: flex; flex-flow: column;

        .city-result{
            list-style: none;
            padding: 7px 15px 7px 0;
            font-size: 1rem; font-family:Verdana, Geneva, Tahoma, sans-serif;  text-align: right;
        }

        .result-light{ &:hover{ background-color: rgb(221, 234, 242); cursor: pointer;} }
        .result-dark { &:hover{ background-color: rgb(44, 62, 75); cursor: pointer;}}
    }
}